<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->
<head>
<meta charset='utf-8'>
<!-- Always force latest IE rendering engine or request Chrome Frame -->
<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<meta content='yes' name='apple-mobile-web-app-capable'>
<meta content='black-translucent' name='apple-mobile-web-app-status-bar-style'>
<link href='apple-touch-icon-144x144-precomposed.png' rel='apple-touch-icon' sizes='144x144'>
<link href='apple-touch-icon-114x114-precomposed.png' rel='apple-touch-icon' sizes='114x114'>
<link href='apple-touch-icon-72x72-precomposed.png' rel='apple-touch-icon' sizes='72x72'>
<link href='apple-touch-icon-precomposed.png' rel='apple-touch-icon'>
<link href='favicon.png' rel='shortcut icon'>
<link href='favicon.ico' rel='icon' type='image/ico'>
<title>Boltzmannheat</title>
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
<link href="../stylesheets/all-33b0983c.css" media="screen" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
<![endif]-->
</head>
<body class='x404 x404_index' ng-app='Boltzmann'>
<a href='https://github.com/wallin/boltzmannheat'>
<img alt='Fork me on GitHub' data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png' src='https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67' style='position: absolute; top: 0; right: 0; border: 0; z-index: 1000'>
</a>
<header class='page-header'>
<div class='container'>
<div class='row'>
<div class='col-sm-12'>
<h1>Boltzmannheat</h1>
<p class='lead'>a thermodynamics web lab</p>
</div>
</div>
</div>
</header>
<section ui-view></section>
</body>
<script id='introduction.html' type='text/ng-template'>
<div class='container'>
<div class='row'>
<div class='col-sm-12'>
<h1>Welcome</h1>
</div>
</div>
</div>
</script>

<script id='lab.html' type='text/ng-template'>
<div class='container'>
<div class='row'>
<div class='col-sm-5' ng-controller='SystemCtrl' system-name='System A'>
<tabset>
<tab>
<tab-heading>E-levels</tab-heading>
<form class='form-horizontal'>
<div class='form-group'>
<label class='col-sm-6 control-label'>Number of particles</label>
<div class='col-sm-6'>
<input class='form-control' ng-model='system.params.numParticles' type='number'>
</div>
</div>
<div class='form-group'>
<label class='col-sm-6 control-label'>Energy level type</label>
<div class='col-sm-6'>
<select class='form-control' ng-model='system.params.eLevelType' ng-options='opt.name for opt in system.options.eLevelTypes'></select>
</div>
</div>
<div class='form-group' ng-if='system.params.eLevelType.value == "equidistant" || system.params.eLevelType.value == "sublevels"'>
<label class='col-sm-6 control-label'>Distance between energy levels (dE/kb)</label>
<div class='col-sm-6'>
<input class='form-control' ng-model='system.params.eDist' type='number'>
</div>
</div>
<div class='form-group' ng-if='system.params.eLevelType.value == "sublevels"' type='number'>
<label class='col-sm-6 control-label'>Number of sublevels:</label>
<div class='col-sm-6'>
<input class='form-control' ng-model='system.params.numSubLevels' type='number'>
</div>
</div>
<div class='form-group' ng-if='system.params.eLevelType.value == "sublevels"'>
<label class='col-sm-6 control-label'>Distance between sub levels (dE/kb)</label>
<div class='col-sm-6'>
<input class='form-control' ng-model='system.params.subEDist' type='number'>
</div>
</div>
</form>
</tab>
<tab>
<tab-heading>Plot</tab-heading>
<form class='form-horizontal'>
<div class='form-group'>
<label class='col-sm-6 control-label'>Plot relative first level:</label>
<div class='col-sm-6'>
<input ng-model='plotOptions.relative' type='checkbox'>
</div>
</div>
<div class='form-group'>
<label class='col-sm-6 control-label'>Plot E-levels:</label>
<div class='col-sm-6'>
<input type='checkbox'>
</div>
</div>
<div class='form-group'>
<label class='col-sm-6 control-label'>y max:</label>
<div class='col-sm-6'>
<input class='form-control' ng-model='plotOptions.ymax' type='number'>
</div>
</div>
<div class='form-group'>
<label class='col-sm-6 control-label'>x max:</label>
<div class='col-sm-6'>
<input class='form-control' ng-model='plotOptions.xmax' type='number'>
</div>
</div>
</form>
</tab>
<tab>
<tab-heading>Data</tab-heading>
<dl class='dl-horizontal'>
<dt>U/k (particle):</dt>
<dd>
{{ system.result.energyParticle | number: 4 }} K
</dd>
<dt>U (tot):</dt>
<dd>
{{ system.result.energyTotal | number: 4 }} kJ
</dd>
<dt>U (molar):</dt>
<dd>
{{ system.result.energyMolar | number: 4 }} kJ/mol
</dd>
<dt>S/k (particle):</dt>
<dd>
{{ system.result.entropyParticle | number: 4 }} K
</dd>
<dt>S (tot):</dt>
<dd>
{{ system.result.entropyTotal | number: 4 }} J/K
</dd>
<dt>S (molar):</dt>
<dd>
{{ system.result.entropyMolar | number: 4 }} J/(K mol)
</dd>
<dt>q:</dt>
<dd ng-bind='system.result.partitionFun | number: 4'></dd>
</dl>
</tab>
</tabset>
<div class='form-horizontal'>
<label class='col-sm-6 control-label'>Temperature</label>
<div class='input-group col-sm-6'>
<input class='form-control' ng-model='system.params.temperature' type='number'>
<span class='input-group-addon'>K</span>
</div>
</div>
<div chart-data='system.result' chart-options='plotOptions' chart-params='system.params' class='chart'></div>

</div>
<div class='col-sm-2 text-center well' ng-controller='HeatFlowCtrl'>
<h5>Heat flow</h5>
<code ng-bind='total | number:4'></code>
</div>
<div class='col-sm-5' ng-controller='SystemCtrl' system-name='System B'>
<tabset>
<tab>
<tab-heading>E-levels</tab-heading>
<form class='form-horizontal'>
<div class='form-group'>
<label class='col-sm-6 control-label'>Number of particles</label>
<div class='col-sm-6'>
<input class='form-control' ng-model='system.params.numParticles' type='number'>
</div>
</div>
<div class='form-group'>
<label class='col-sm-6 control-label'>Energy level type</label>
<div class='col-sm-6'>
<select class='form-control' ng-model='system.params.eLevelType' ng-options='opt.name for opt in system.options.eLevelTypes'></select>
</div>
</div>
<div class='form-group' ng-if='system.params.eLevelType.value == "equidistant" || system.params.eLevelType.value == "sublevels"'>
<label class='col-sm-6 control-label'>Distance between energy levels (dE/kb)</label>
<div class='col-sm-6'>
<input class='form-control' ng-model='system.params.eDist' type='number'>
</div>
</div>
<div class='form-group' ng-if='system.params.eLevelType.value == "sublevels"' type='number'>
<label class='col-sm-6 control-label'>Number of sublevels:</label>
<div class='col-sm-6'>
<input class='form-control' ng-model='system.params.numSubLevels' type='number'>
</div>
</div>
<div class='form-group' ng-if='system.params.eLevelType.value == "sublevels"'>
<label class='col-sm-6 control-label'>Distance between sub levels (dE/kb)</label>
<div class='col-sm-6'>
<input class='form-control' ng-model='system.params.subEDist' type='number'>
</div>
</div>
</form>
</tab>
<tab>
<tab-heading>Plot</tab-heading>
<form class='form-horizontal'>
<div class='form-group'>
<label class='col-sm-6 control-label'>Plot relative first level:</label>
<div class='col-sm-6'>
<input ng-model='plotOptions.relative' type='checkbox'>
</div>
</div>
<div class='form-group'>
<label class='col-sm-6 control-label'>Plot E-levels:</label>
<div class='col-sm-6'>
<input type='checkbox'>
</div>
</div>
<div class='form-group'>
<label class='col-sm-6 control-label'>y max:</label>
<div class='col-sm-6'>
<input class='form-control' ng-model='plotOptions.ymax' type='number'>
</div>
</div>
<div class='form-group'>
<label class='col-sm-6 control-label'>x max:</label>
<div class='col-sm-6'>
<input class='form-control' ng-model='plotOptions.xmax' type='number'>
</div>
</div>
</form>
</tab>
<tab>
<tab-heading>Data</tab-heading>
<dl class='dl-horizontal'>
<dt>U/k (particle):</dt>
<dd>
{{ system.result.energyParticle | number: 4 }} K
</dd>
<dt>U (tot):</dt>
<dd>
{{ system.result.energyTotal | number: 4 }} kJ
</dd>
<dt>U (molar):</dt>
<dd>
{{ system.result.energyMolar | number: 4 }} kJ/mol
</dd>
<dt>S/k (particle):</dt>
<dd>
{{ system.result.entropyParticle | number: 4 }} K
</dd>
<dt>S (tot):</dt>
<dd>
{{ system.result.entropyTotal | number: 4 }} J/K
</dd>
<dt>S (molar):</dt>
<dd>
{{ system.result.entropyMolar | number: 4 }} J/(K mol)
</dd>
<dt>q:</dt>
<dd ng-bind='system.result.partitionFun | number: 4'></dd>
</dl>
</tab>
</tabset>
<div class='form-horizontal'>
<label class='col-sm-6 control-label'>Temperature</label>
<div class='input-group col-sm-6'>
<input class='form-control' ng-model='system.params.temperature' type='number'>
<span class='input-group-addon'>K</span>
</div>
</div>
<div chart-data='system.result' chart-options='plotOptions' chart-params='system.params' class='chart'></div>

</div>
</div>
</div>
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js" type="text/javascript"></script>
<script src="../javascripts/all-ce81d07c.js" type="text/javascript"></script>
</html>
