%script{:id => 'lab.html', :type => 'text/ng-template'}
  .container
    .row
      .col-sm-5{'ng-controller' => 'SystemCtrl', 'system-name' => 'System A'}
        = partial 'system'
      .col-sm-2.text-center.well{'ng-controller' => 'HeatFlowCtrl'}
        %h5 Heat flow
        %code{'ng-bind' => 'total | number:4'}
      .col-sm-5{'ng-controller' => 'SystemCtrl', 'system-name' => 'System B'}
        = partial 'system'
